*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container, .grid, .row {
    display: flex;
}

.container {
    flex-direction: column;
    height: 85vh;
    margin: auto;
    align-items: center;
}

button {
    flex: 0 1 auto;
    padding: 4px 10px;
}

.grid, .row, .row > div {
    flex: 1 1 0;
}

.grid {
    flex-direction: column;
}

.row > div {
    border: 1px solid black;
}

.square {
    aspect-ratio: 1 / 1;
}